<div class="main-div">
    <div class="image-div">
        <img src="../../../assets/images/med.webp" alt="Medicine image">
    </div>

    <div class="welcome">
        <p class="no-margin"><i>Welcome!!</i></p>
        <h2>Don't let a trip to the clinic end in disappointment</h2>
        <span><i>This Application helps you check the availability of medication at your clinic before living your home.</i></span>
    </div>

    <!-- How it works -->
    <div class="demo">
        <p class="no-margin">How it works</p>
        <ul class="stepper">
            <li>Type in your medication</li>
            <li>Click on it for more information</li>
            <li>Check the status including the image</li>
        </ul>
        <button (click)="proceed()" class="proceed-btn">Proceed</button>
    </div>
</div>
