<div class="main-div">
    <p class="no-margin close" (click)="close()">X</p>
    <div class="availability">
        <p class="no-margin" [ngStyle]="{color: availability  === 'available' ? 'green':'red'}">{{availability | titlecase}}</p>
    </div>
    <div class="image-div">
        <img [src]="imageUrl" alt="Panado">
    </div>
    <div class="med-description">
        <p class="no-margin">{{medName | titlecase}}</p>
        <small>{{description}}</small>
        <p class="no-margin med-for">{{medFor}}</p>
    </div>
</div>